
<div class="form-wrapper">
  <form >
    <mat-form-field>
      <input matInput type="text" pattern="[0-9]*" maxlength="5" placeholder="Zip Code" [(ngModel)]="zip" name="zip">
      <mat-error *ngIf="zipError">
        Invalid Zip Code
      </mat-error>
    </mat-form-field>
    <button (click)="onSubmit()" color="primary" mat-raised-button type="submit">Search</button>
  </form>

  <form >
    <mat-form-field>
      <input matInput type="text" placeholder="Hub/Agent Code" [(ngModel)]="hubAgent" name="hubAgent">
      <!-- <option *ngFor="let hubAgent of hubAgents" [value]="hubAgent">{{ hubAgent }}</option> -->

    </mat-form-field>
    <button (click)="hubAgentCheck()" color="primary" mat-raised-button type="submit">Search</button>
  </form>

  <!-- data-table.component.html -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="isSubmitted">

  <!-- Replace 'id', 'name', 'email' with your API response keys -->
  <ng-container matColumnDef="Zip Code">
    <th mat-header-cell *matHeaderCellDef>Zip Code</th>
    <td mat-cell *matCellDef="let row">{{ row.home_delivery_zip }}</td>
  </ng-container>

  <ng-container matColumnDef="Site Code">
    <th mat-header-cell *matHeaderCellDef>Site Code</th>
    <td mat-cell *matCellDef="let row">{{ row.site_code }}</td>
  </ng-container>

  <ng-container matColumnDef="Hub/Agent">
    <th mat-header-cell *matHeaderCellDef>Hub/Agent</th>
    <td mat-cell *matCellDef="let row">{{ row.hub_agent }}</td>
  </ng-container>

  <ng-container matColumnDef="Gas Dryer">
    <th mat-header-cell *matHeaderCellDef>Gas Dryer</th>
    <td mat-cell *matCellDef="let row">{{ row.gas_dryer }}</td>
  </ng-container>

  <ng-container matColumnDef="Gas Range">
    <th mat-header-cell *matHeaderCellDef>Gas Range</th>
    <td mat-cell *matCellDef="let row">{{ row.gas_range }}</td>
  </ng-container>

  <ng-container matColumnDef="Dishwasher">
    <th mat-header-cell *matHeaderCellDef>Dishwasher</th>
    <td mat-cell *matCellDef="let row">{{ row.dishwasher }}</td>
  </ng-container>

  <ng-container matColumnDef="OTR Microwave">
    <th mat-header-cell *matHeaderCellDef>OTR Microwave</th>
    <td mat-cell *matCellDef="let row">{{ row.otr_microwave }}</td>
  </ng-container>

  <!-- Add more column definitions as needed -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


