.form-wrapper {
  width: 70%;
  padding: 1rem;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  margin-left: 9rem;
  align-items: center;
}

mat-form-field {
  margin-top: 1rem;
  margin-left: 2rem;
}

mat-error {
  font-size: 12px;
  color: red;
  margin-left: 2rem;
}

button {
  margin-top: 1rem;
  width: 100px;
  margin-left: 2rem;
}
