
<div class="form-wrapper">
  <form [formGroup]="stopsForm">    
    <mat-form-field>
      <mat-select placeholder="LDC" formControlName="ldc">
        <mat-option value="option">L626</mat-option>
      </mat-select>            
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Driver" formControlName="driverName">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Total Stops" formControlName="totalStops">
      <mat-error *ngIf="stopsForm.controls.totalStops.invalid">
        Please enter a number.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Completed Stops" formControlName="completedStops">
      <mat-error *ngIf="stopsForm.controls.completedStops.invalid">
        Please enter a number.
      </mat-error>
    </mat-form-field>
  </form>
  <!-- <button mat-button (click)="onSubmit()">Action</button> -->
</div>
