
<div class="form-wrapper">
  <form [formGroup]="stopsForm">
    <mat-form-field>
      <input matInput type="text" pattern="[0-9]*" maxlength="5" placeholder="Zip Code" formControlName="zipCode">
      <mat-error *ngIf="stopsForm.controls.zipCode.invalid">
        Please enter a 5-digit zip code.
      </mat-error>
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput placeholder="Driver" formControlName="driverName">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Total Stops" formControlName="totalStops">
      <mat-error *ngIf="stopsForm.controls.totalStops.invalid">
        Please enter a number.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Completed Stops" formControlName="completedStops">
      <mat-error *ngIf="stopsForm.controls.completedStops.invalid">
        Please enter a number.
      </mat-error>
    </mat-form-field> -->
  </form>
  <button color="primary" mat-button (click)="onSubmit()">Search</button>
</div>
